.divWea {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  bottom: 10% */
}

#form {
  display: flex;
  justify-content: space-between;
}

.SearchBar {
  width: 50%;
  padding: 7px;
  margin: 0 auto;
  background-color: var(--title-color);
  border-radius: 50px;
}

.inpt {
  background: var(--title-color);
  border-style: none;
  outline: none;
  font-size: 1.1rem;
  color: black;
}

.srchBtn {
  padding: 10px 25px;
  border-style: none;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--first-color);
}

.srchBtn:hover {
  color:var(--title-color);
}

.weatherContainer{
    width: 30%;
    min-height: 30vh;
    background-color: rgb(34, 44, 59);
    margin-top: 2%;
    height: 50%;
}

.infoBox{
  height: 300px;
}

.para1{
    display: flex;
    /* justify-content: space-between; */
    padding:20px 10px;
    background-color:  rgb(35, 43, 54);
    font-size: 2rem;
    font-weight: bold;
    color: var(--first-color);
    flex-wrap: auto;
}

.leftpara1{
  width: 45%;
  display: flex;
  flex-direction: initial;
}

.rightpara1{
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
}


.consec{
  margin-top: 10px;
  
}

.para2{
  font-size: 2rem;
  font-weight: lighter;
  padding: 20px 10px;
  color: var(--first-color);
}

@media only screen and (max-width:1326px) {
  .weatherContainer{
    width: 35%;
  }
}


@media only screen and (max-width:1137px) {
  .weatherContainer{
    width: 40%;
  }
}

@media only screen and (max-width:1000px) {
  .weatherContainer{
    width: 50%;
  }
}

@media only screen and (max-width:796px) {
  .weatherContainer{
    width: 60%;
  }
  .SearchBar{
    width: 70%;
  }
}

@media only screen and (max-width:567px) {
  .weatherContainer{
    width: 80%;
  }
  .SearchBar{
    width: 90%;
  }
  .para1{
    font-size: 1.5rem;
  }
  .srchBtn{
    padding: 10px 15px;
  }
}